<%= 
	#@url
	#debug(@ch)
	
%>
<div class="main_bl">
	<div class="int_main">
		<div class="int-logo">
			<% tlogo=image_tag("int-logo.gif", :alt => "Привет, подарок") %>
			<%= link_to tlogo, root_path %>
		</div>

		<div class="ab">
			Ссылка на ваш лист подарков готова
		</div>


		<div class="mklist">
			<div class="int">
				<div class="list-link"><%=request.domain+"/"+session[:list_url] %></div>

				<div class="link-info">
					Скопируйте ее и разошлите своим гостям по электронной почте<br />
или с помощью социальных сетей.
				</div>
			</div>
		</div>

		<div class="getkbl">
			<div class="int">

				<div class="keyinf">
				Если хотите, введите ваш e-mail и мы вышлем вам ключ<br />
				для редактирования списка, в противном случае список<br />
				будет нередактируемым:
				</div>
				<%= form_for @l, :remote => false, :url => {:action => "set_user_email"} do |f| %>
				<div class="inp">
					<%= f.text_field :user_email %>
				</div>

				<div class="sub">
					<%= f.submit "Получить ключ" %>
				</div>
				<% end %>
			</div>
		</div>


		<div class="cp">
			Сайт сделан в <a href="http://glstr.ru" target="_blank">студии «Главная страница»</a>
		</div>
	</div>	
</div>