<div class="main_bl">
	<div class="int_main">
		<div class="int-logo">
			<% tlogo=image_tag("int-logo.gif", :alt => "Привет, подарок") %>
			<%= link_to tlogo, root_path %>
		</div>

		<% unless @list.text.blank? %> 
		<div class="ab txBeforeList">
			<%= @list.text %>
		</div>
		<% end %>


		<div class="list">

			<% @list.gifts.each do |gift| %>
				<% 
					if gift.booked == 1
						act='act'
						lnk='Забронивано'
					else
						act=''
						lnk='Я буду дарить это'
					end 
				%>
				<div class="item <%= act %>">
					<div class="int">
						<table>
							<tr>
								<td><div class="nameit"><%= gift.text %></div></td>
								<td class="tdgif">
										<span><%= lnk %></span>
										<%= hidden_field_tag gift.id, gift.id %>
								</td>
							</tr>
						</table>
					</div>
				</div>
			<% end %>

		</div>

		<div class="underlist">
			<div>У вас тоже намечается праздник?</div>
			<div><a href="/">Создайте свой лист!</a></div>
		</div>
	</div>	
</div>	

