<%= form_for(List.new) do |f| %>

	<div class="wrap_txarea">
		<%= f.text_area :text %>
	</div>

	<div class="hsp">
		Список подарков
	</div>

	<div class="wrap_litem">					
		<div class="litem">
			<table>
				<tr>
					<td>
						<div class="item_inp">
							<%= f.text_field :gift :text %>
						</div>
					</td>
					<td>
						<div class="del_but"></div>
					</td>
				</tr>
			</table>
		</div>

		<div class="litem">
			<table>
				<tr>
					<td>
						<div class="item_inp">
							<%= f.text_field :gift :text %>
						</div>
					</td>
					<td>
						<div class="del_but"></div>
					</td>
				</tr>
			</table>
		</div>
		
	</div>

	<span id="addp" class="addp">Добавить еще полей для подарков?</span>

	<div class="sub">
		<%= f.submit("Сохранить лист") %>
	</div>
	<% end %>
	
