<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title><%= @title %></title>
  <%= stylesheet_link_tag "reset" %>
  <%= stylesheet_link_tag  "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
=======
  <title>Hellogift</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
>>>>>>> 9b8c3c65153097d1c7894f5a1bb22d8f43ad5183
</head>
<body>

<%= yield %>

<<<<<<< HEAD
<%= javascript_include_tag "application" %>

=======
>>>>>>> 9b8c3c65153097d1c7894f5a1bb22d8f43ad5183
</body>
</html>
