<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag "reset" %>
  <%= stylesheet_link_tag  "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <%= javascript_include_tag "rails" %>

  <title>Hellogift</title>

</head>
<body>

<%= yield %>


<%= javascript_include_tag "all" %>


</body>
</html>
